$pink1: #e41a4a;
$pink2: #ff406e;
$purple1: #6d2358;
$purple2: rgb(36, 0, 69);
$purple3: #140026;
$blue1: rgba(0, 50, 58, 0.6);
$turquoise1: rgb(0, 200, 190);
$green2: #009688;
$golden1: #bf9b30;
$orange1: #f79188;
$orange2: #cc5a5e;
$gray1: #111;
$gray2: #222;
$gray3: #333;
$gray5: #555;
$black020: rgba(0, 0, 0, 0.2);
$black040: rgba(0, 0, 0, 0.4);
$whiteA: #aaa;
$whiteD: #ddd;
$whiteE: #eee;

$profile1: #f66;
$profile2: #ff81ae;
$profile3: #61aec2;

$profile1: #f86d72;
$profile2: #b74b66;
$profile3: #6d2358;


$breakpointBig: 2000px;
$breakpointMedium: 1470px;
$breakpointSmall: 1100px;
$breakpointMobile: 810px;


$time1: 0.15s;
$time2: 0.3s;

/* Times for the init main animation */
$time3: 2s; /* Duration */
$time6: 1.5s; /* Duration for profiles */
$time4: 1s; /* Delay for logo */
$time5: 2s; /* Delay for rest of elements */
