/* stylelint-disable declaration-block-single-line-max-declarations */

.c0 { fill: $whiteD; color: $whiteD; }

/* https://coolors.co/app/ceefe7-c2e3e8-b6d6db-8fb3c9-5c80a5 */
.s1 {
	& .c1 { fill: #ceefe7; color: #ceefe7; }
	& .c2 { fill: #c2e3e8; color: #c2e3e8; }
	& .c3 { fill: #b6d6db; color: #b6d6db; }
	& .c4 { fill: #8fb3c9; color: #8fb3c9; }
	& .c5 { fill: #5c80a5; color: #5c80a5; }
	& .b { color: #c2e3e8; }
	& a:hover, & a svg:hover { filter: drop-shadow(0 0 0.8vw color(#ceefe7 a(70%))); }
	& .back-button-m { background-image: linear-gradient(135deg, #b6d6db -20%, #5c80a5 90%); }
	/* & .block__icon { filter: drop-shadow(0 0 50px color(#ceefe7 a(50%))); } */
	/* & .desc-table__big-text { filter: drop-shadow(0 0 60px color(#ceefe7 a(50%))); } */
}

/* https://coolors.co/app/edeec9-dde7c7-bfd8bd-98c9a3-77bfa3 */
.s2 {
	& .c1 { fill: #edeec9; color: #edeec9; }
	& .c2 { fill: #dde7c7; color: #dde7c7; }
	& .c3 { fill: #bfd8bd; color: #bfd8bd; }
	& .c4 { fill: #98c9a3; color: #98c9a3; }
	& .c5 { fill: #77bfa3; color: #77bfa3; }
	& .b { color: #dde7c7; }
	& a:hover, & a svg:hover { filter: drop-shadow(0 0 0.8vw color(#edeec9 a(70%))); }
	& .back-button-m { background-image: linear-gradient(135deg, #bfd8bd -20%, #77bfa3 90%); }
	/* & .block__icon { filter: drop-shadow(0 0 50px color(#edeec9 a(50%))); } */
	/* & .desc-table__big-text { filter: drop-shadow(0 0 60px color(#edeec9 a(50%))); } */
}

/* https://coolors.co/app/ffcdb2-ffb4a2-e5989b-b5838d-6d6875 */
.s3 {
	& .c1 { fill: #fff3b2; color: #fff3b2; }
	& .c2 { fill: #ffe3a3; color: #ffe3a3; }
	& .c3 { fill: #e5bb97; color: #e5bb97; }
	& .c4 { fill: #b59082; color: #b59082; }
	& .c5 { fill: #736875; color: #736875; }
	& .b { color: #ffe3a3; }
	& a:hover, & a svg:hover { filter: drop-shadow(0 0 0.8vw color(#fff3b2 a(70%))); }
	& .back-button-m { background-image: linear-gradient(135deg, #e5bb97 -20%, #736875 90%); }
	/* & .block__icon { filter: drop-shadow(0 0 50px color(#ffcdb2 a(50%))); } */
	/* & .desc-table__big-text { filter: drop-shadow(0 0 60px color(#ffcdb2 a(50%))); } */
}





.description-panel {
	width: 65%;
	height: 100%;
	z-index: 4;
	
	position: absolute;
	top: 0;
	left: 0;
	
	visibility: hidden;
	transition: $time1 $ease-in;
	
	opacity: 0;
	transform: translate3d(-50%, 0, 0);
	
	@media (max-width: $breakpointMobile) {
		width: 100%;
		transition-duration: $time1;
	}
	
	&--in {
		transition-duration: $time2;
		transition-timing-function: $ease-out;
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	
	&__bg {
		width: 100%;
		height: 180%;
		
		position: absolute;
		top: 0;
		left: 0;
		
		background: url('img/descBg.png') $gray1;
		box-shadow: 0 0 40px $black040;
	
		transform-origin: top right;
		transform: rotate(6deg);
		
		@media (max-width: $breakpointMobile) {
			transform: none;
		}
		
		&::before {
			content: "";
			
			width: 3vw;
			height: 105%;
			
			position: absolute;
			top: -1vw;
			right: -3vw;
			
			background: linear-gradient(90deg, black 0%, transparent 100%);
		}
	}
	
	&__content {
		width: 92%;
		height: 100%;
		overflow: hidden;
		
		position: absolute;
		top: 0;
		left: 0;
	
		font-family: 'Open Sans', sans-serif;
		font-family: 'Trirong', serif;
		font-size: 0.8vw;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			font-size: 3.5vw;
		}
	}
	
	/* http://stackoverflow.com/questions/3296644/hiding-the-scrollbar-on-an-html-page/23771140#23771140 */
	&__overflow-hide {
		height: 100%;
		margin-right: -100px;
		padding-right: 100px;
		overflow-y: auto;
		
		@media (max-width: $breakpointMobile) {
			padding-top: 4vw;
		}
	}
	
	&__scroll {
		width: 60px;
		height: @width;
		z-index: 12;
		
		position: absolute;
		left: calc(46% - @width/2);
		
		background: transparent;
		border-radius: 100%;
		box-shadow: 0 4px 5px $black040;
		opacity: 0.8;
	
		transition: all $time1 ease-out;
		
		@media (max-width: $breakpointBig) {
			transform: scale(0.7);
		}
		
		@media (max-width: $breakpointMobile) {
			display: none;
		}
		
		&:hover {
			opacity: 1;
			transform: scale(1.1);
		
			@media (max-width: $breakpointBig) {
				transform: scale(0.9);
			}
		}
		
		&--up {
			top: 3%;
			
			/* http://stackoverflow.com/questions/5087420/how-to-rotate-the-background-image-in-the-container */
			&::after {
				content: "";
				
				width: 100%;
				height: @width;
				
				position: absolute;
				top: 0;
				left: 0;
				
				/* background: url('img/arrow.png') no-repeat center / cover; */
				background: url('img/logos.png') no-repeat $gray1 0 -64px / 478px;
				border-radius: 100%;
				transform: rotate(180deg);
			}
		}
		
		&--up-hidden {
			top: -60px;
			transition-timing-function: ease-in;
		}
		
		&--down {
			bottom: 3%;
			
			&::after {
				content: "";
				
				width: 100%;
				height: @width;
				
				position: absolute;
				top: 0;
				left: 0;
				
				background: url('img/logos.png') $gray1 no-repeat 0 -64px / 478px;
				border-radius: 100%;
			}
		}
		
		&--down-hidden {
			bottom: -60px;
			transition-timing-function: ease-in;
		}
	}
}





*[class*='desc-profile--'] {
	display: none;
}





/* .back-button-m {
	width: 100%;
	height: 70px;
	z-index: 4;
	
	display: none;
	
	position: absolute;
	top: 0;
	
	box-shadow: 0 0 20px black;
	
	@media (min-width: $breakpointMobile) {
		display: none;
	}
	
	&__arrow {
		width: 70px;
		height: 30px;
		margin: 20px auto;
		display: block;
		background: url('img/logos.png') -70px 63px / 530px;
	}
} */





.desc-table {
	width: 76%;
	margin: 6vw 0 0 12%;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	
	@media (max-width: $breakpointMobile) {
		width: 80%;
		margin: 15vw auto;
	}

	&--wrap-reverse {
		@media (max-width: $breakpointMobile) {
			flex-wrap: wrap-reverse;
		}
	}
	
	&--first {
		margin-top: 3vw;
	}
	
	&__cell {
		width: 50%;
		flex: 1;
	
		@media (max-width: $breakpointMobile) {
			width: 100%;
			margin: 10vw auto 4vw;
			flex: 0 0 100%;
		}
	
		&--logos {
			@media (min-width: calc($breakpointBig+10px)) {
				transform: scale(0.9);
			}
		}
	}
	
	&__big-text {
		width: 70%;
		height: @width;
		margin: 0 auto;
		display: block;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: @width;
		}
	}
	
	&__desc-text {
		margin: 0.5em 0;
		
		text-align: left;
		color: $whiteD;
		
		@media (max-width: $breakpointBig) {
			font-size: 1.05em;
		}
		
		@media (max-width: $breakpointMedium) {
			font-size: 1.25em;
		}
	}
}





.logo-title {
	margin: 2vw 0 1vw 0.7vw;
	
	font-size: 0.8em;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1em;
		
	@media (max-width: $breakpointMobile) {
		margin: 7vw 0 4vw 0.7vw;
	}
	
	&--first {
		margin-top: 0;
	}
}

.logo-fe, .logo-be, .logo-db {
	width: 20vw;
	height: 4.6vw;
	margin: 0 auto;
	
	background: url('img/logos.png') no-repeat 0 top / 55vw auto;
		
	@media (max-width: $breakpointMobile) {
		width: 100%;
		height: 18.2vw;
		background-size: 220vw auto;
	}
}

.logo-be {
	background-position: -21vw top;
		
	@media (max-width: $breakpointMobile) {
		background-position: -84.2vw top;
	}
}

.logo-db {
	width: 13vw;
	height: 3vw;
	background-position: -41.8vw -0.8vw;
		
	@media (max-width: $breakpointMobile) {
		width: 53vw;
		height: 12.5vw;
		background-position: -166.8vw -3vw;
	}
}





.block {
	max-width: 60%;
	margin: 6vw auto 0;
	
	text-align: center;
	
	@media (max-width: $breakpointMobile) {
		max-width: 85%;
		margin: 22vw auto 0;
	}
	
	&--first {
		margin-top: 2vw;
	}
	
	&--last {
		margin-bottom: 5vw;
	
		@media (max-width: $breakpointMobile) {
			margin-bottom: 10vw;
		}
	}
	
	&--testimonial {
		width: 80%;
		margin: 1vw auto 0;
		
		position: relative;
		
		quotes: "«" "»";
		font-size: 1.3em;
		font-style: italic;
		line-height: 1.4em;
	
		@media (max-width: $breakpointMobile) {
			quotes: initial;
		}
		
		&::before, &::after {
			width: 15%;
			height: 100%;
			
			position: absolute;
			left: -15%;
			
			content: open-quote;
			font-size: 7em;
			line-height: 0.5em;
	
			@media (max-width: $breakpointMobile) {
				top: 10%;
				left: -18%;
				display: flex;
				justify-content: flex-end;
			}
		}
		
		&::after {
			bottom: 0;
			left: unset;
			right: -15%;
			content: close-quote;
	
			@media (max-width: $breakpointMobile) {
				top: unset;
				bottom: -30%;
				right: -5%;
				display: flex;
				align-items: flex-end;
			}
		}
	}
	
	&--summary {
		font-size: 1.6em;
		line-height: 1.4em;
	}
	
	&__icon {
		width: 6vw;
		height: @width;
		
		@media (max-width: $breakpointMobile) {
			width: 23vw !important;
			height: @width !important;
		}
		
		&--bigger {
			width: 7vw;
			height: @width;
		}
		
		&--smaller {
			width: 5vw;
			height: @width;
		}
		
		&--testimonial {
			border-radius: 100%;
			background: url("img/testimonials.jpg") center / cover;
		}
		
		&--testimonial-1 {
			background-position: left top;
		}
		
		&--testimonial-2 {
			background-position: center;
		}
		
		&--testimonial-3 {
			background-position: right top;
		}
	}
	
	&__companies {
		width: 95%;
		margin: 0 auto;
		
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
		
	&__company-logo {
		width: 8.8vw;
		height: 2.4vw;
		margin: 0.4vw 1.1vw;
		
		display: block;
		flex: 0 1 auto;
		
		background-image: url('img/logos.png');
		background-size: 51vw auto;
		
		transition: filter $time1;
		
		@media (max-width: $breakpointMobile) {
			width: 34vw;
			height: 9vw;
			margin: 0 3vw 4vw;
			background-size: 200vw auto;
		}
		
		&--1 {
			background-position: -36.8vw -17.65vw;
			
			@media (max-width: $breakpointMobile) {
				background-position: -144.2vw -17.2vw;
			}
		}
	
		&--2 {
			background-position: 1vw -17.75vw;
			
			@media (max-width: $breakpointMobile) {
				background-position: 4vw 35vw;
			}
		}
		
		&--3 {
			background-position: -7.8vw -17.65vw;
			
			@media (max-width: $breakpointMobile) {
				background-position: -232vw 35vw;
			}
		}
		
		&--4 {
			background-position: -68.2vw -17.75vw;
			
			@media (max-width: $breakpointMobile) {
				background-position: 133vw -17.65vw;
			}
		}
		
		&--5 {
			background-position: -27.6vw -17.75vw;
			
			@media (max-width: $breakpointMobile) {
				background-position: -108vw -17.4vw;
			}
		}
		
		&--6 {
			background-position: -13.7vw -20.5vw;
			
			@media (max-width: $breakpointMobile) {
				background-position: -54.5vw -28.2vw;
			}
		}
		
		&--7 {
			background: inline('img/logoZopa.svg') no-repeat center / contain;
		}
		
		&--8 {
			background: inline('img/logoBlow.svg') no-repeat center / contain;
		}
	}

	&__ornament {
		width: 8vw;
		height: 5vw;
		margin: 0 1vw;
		display: inline-block;
		
		&--1 {
			background: inline('img/ornament.svg') no-repeat center / contain;
		}
		
		&--2 {
			background: inline('img/ornament2.svg') no-repeat center / contain;
		}
		
		&--flipped {
			transform: rotateY(180deg);
		}
		
		@media (max-width: $breakpointMobile) {
			width: 22vw;
			height: 12vw;
			margin: 0 3vw;
		}
	}

	&__interested {
		width: 18vw;
		height: 100%;
		
		@media (max-width: $breakpointMobile) {
			width: 70vw;
		}
	}

	&__contact {
		font-size: 3.8em;
		font-family: "Open Sans", serif;
		font-weight: 800;
		text-transform: uppercase;
		text-shadow: 6px 6px $gray2;
		line-height: 1;
		letter-spacing: -0.05em;
	}

	&__contact-icon {
		width: 5vw;
		height: 100%;
		margin: 0.4vw;
		transition: filter $time1;
		
		@media (max-width: $breakpointMobile) {
			width: 16vw;
		}
	}
}
