.main {
	display: none;
	overflow: hidden;
	
	position: absolute;
	inset: 0;
	
	background: black;
}





.main-bg {
	width: 100%;
	height: 100%;
	
	position: absolute;
	
	opacity: 0;
	
	transition: all $time3 3s;
	
	@media (max-width: $breakpointMobile) {
		display: none;
	}
	
	&--in {
		opacity: 0.7;
	}
}

.corner-darkener {
	width: 100%;
	height: 100%;
	
	position: absolute;
	
	background:
		radial-gradient(ellipse at center, transparent 0%, transparent 60%, rgb(0 0 0 / 80%) 120%),
		inline("img/bg.svg");
}

.darkener {
	width: 70%;
	height: 100%;
	z-index: 1;
	pointer-events: none;
	
	position: absolute;
	
	background: black;
	opacity: 0;
	
	transition: opacity $time2 ease-in;
	
	@media (max-width: $breakpointMobile) {
		width: 100%;
		transition-duration: $time1;
	}
	
	&--in {
		opacity: 1;
	}
	
	&--in2 {
		pointer-events: auto;
		z-index: 4;
		width: 100%;
		opacity: 0.7;
	}
}





.choose-profile-text {
	width: 950px;
	width: 100vh;
	margin: 0 0 25px 12px;
	z-index: 3;
	
	position: absolute;
	right: 55.2%;
	top: -3.5%;
	
	opacity: 0;

	font-size: 2.4vh;
	font-family: "Open Sans", sans-serif;
	font-stretch: 75%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	text-shadow: 1px 1px black, 0 0 4px black;

	transition: opacity $time3 ease-out 2.6s;

	transform-origin: right bottom;
	transform: rotate(-84deg);
	
	@media (max-width: $breakpointMobile) {
		display: none;
	}
	
	&--in {
		opacity: 1;
	}
}

.choose-profile-text-m {
	width: 100%;
	margin: 0 auto 20px;

	font-size: 5vw;
	font-family: "Open Sans", sans-serif;
	font-stretch: 75%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	text-shadow: 1px 1px black, 0 0 4px black;

	transition: all 0.5s;
		
	@media (min-width: $breakpointMobile) {
		display: none;
	}
}





.cookies {
	width: 200px;
	height: @width;
	padding: 75px 25px 0 0;
	z-index: 12;
	
	position: absolute;
	bottom: 0;
	right: 0;
	
	background: radial-gradient(ellipse at bottom right, $profile1 30%, $profile2 100%);
	box-shadow: 0 0 50px black;
	border-top-left-radius: 100%;
	
	font-size: 1.1em;
	text-align: right;
	
	transition: transform ease-out $time2;
	
	transform: translate3d(@width, @width, 0);
	
	&--in {
		transform: translate3d(0, 0, 0);
	}
	
	&__close-button {
		margin-top: 10px;
		padding: 10px;
		
		background: $whiteD;
		border-radius: 10px;
		box-shadow: 1px 3px 3px $black040;
		
		color: $gray2;
		font-size: 0.9em;
		font-weight: bold;
		
		transition: all ease-out 0.2s;
		
		&:hover {
			box-shadow: #edeec9 0 0 20px, 1px 3px 3px $black040;
		}
		
		&:active {
			box-shadow: #edeec9 0 0 20px;
		}
	}
}
